@import url("https://unpkg.com/normalize.css/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 14pt;
  font-weight: 300;
  background: white;
  color: black;
}

.dates {
  width: 100%;
  text-align: right;
  margin-bottom: 1em;
}

.dates select {
  -moz-appearance: none;
  font-size: 200%;
  background: white;
  border: none;
}

main {
  display: flex;
}

.ranking {
  border-right: thin solid;
}

.ranking table {
  font-size: 120%;
  border-collapse: collapse;
}

.ranking th {
  border-bottom: thin solid;
}

.ranking th,
.ranking td {
  padding: 0;
  padding-left: 4px;
  padding-right: 4px;
  text-align: center;
}

.ranking th.name,
.ranking td.name {
  text-align: right;
}

.ranking td.name {
  font-weight: 400;
}

.rounds {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  row-gap: 1em;
}

.matches caption {
  font-size: 120%;
  font-weight: bold;
  border-bottom: thin solid;
}

.matches .home {
  text-align: right;
}

.matches .winner {
  font-weight: 400;
}

.matches .result {
  text-align: center;
  padding-left: 4px;
  padding-right: 4px;
}

@media (prefers-color-scheme: dark) {
  body,
  .dates select {
    background-color: black;
    color: white;
  }
}

@media print {
  body {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 9pt;
  }
}
